footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: black;
    bottom :100%;
}

  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    padding: 0px;
    background-color: rgb(233, 232, 232);
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;

}

nav > ul > li{
    float: left;
    position: relative;
}

.submenu{
    display: none;

}

nav input[type=checkbox]{
    display: none;
}

.menu-mobile{
    display: none;
}

nav{
    width: 100%;
    background-color: #660f0f;
}

nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: inline-block;
    text-decoration: none;

}

nav > ul > li > a{
    padding: 20px 30px;
    color: rgb(255, 255, 255);

}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top:100%;
    left : 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu li{
    border-bottom: 1px solid #CCC;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;

}

.menu-html:hover {
    border-top: 5px solid #ddc1b4;
    background-color: #ddc1b467;
}

.menu-css:hover {
    border-top: 5px solid   #ddc1b4;
    background-color: #ddc1b467;
}

.menu-js:hover {
    border-top: 5px solid   #ddc1b4;
    background-color: #ddc1b467;
}

.menu-contact:hover {
    border-top: 5px solid  #ddc1b4;
    background-color: #ddc1b467;
}
.menu-mission:hover {
    border-top: 5px solid  #ddc1b4;
    background-color: #ddc1b467;
}
.menu-certifications:hover {
    border-top: 5px solid  #ddc1b4;
    background-color: #ddc1b467;
}
.menu-bdd:hover {
    border-top: 5px solid  #ddc1b4;
    background-color: #ddc1b467;
}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}

.menu-html .submenu {
    background-color:  #c4c1c1;
}

.menu-css .submenu {
    background-color:   #c4c1c1;
}

.menu-js .submenu {
    background-color:   #c4c1c1;
}

.menu-mission .submenu {
    background-color:   #c4c1c1;
}

.menu-certifications .submenu {
    background-color:   #c4c1c1;
}

.menu-bdd .submenu {
    background-color:   #c4c1c1;
}

.submenu li:hover a {
    color: #EEE;
    font-weight: bold;
}

.menu-html .submenu li:hover {
    background-color: #c4c1c1;
}

.menu-css .submenu li:hover {
    background-color: #c4c1c1;
}

.menu-js .submenu li:hover {
    background-color: #c4c1c1;
}

.menu-mission .submenu li:hover {
    background-color: #c4c1c1;
}

.menu-bdd .submenu li:hover {
    background-color: #c4c1c1;
}

.menu-certifications .submenu li:hover {
    background-color: #c4c1c1;
}

nav input[type=checkbox]:checked ~ ul{
    display: block;
}

@media screen and (max-width: 680px) {
    .menu-mobile {
      display: block;
      color:#FFF;
      background-color: #636363;
      text-align: center;
      padding: 12px 0;
    }
  
    nav ul {
      display: none;
    }
  
    nav ul li, nav ul li a {
      width: 100%;
      text-align: center;
    }
  
    nav ul li a, nav ul li:hover a {
      padding: 10px 0px 10px 0px;
    }
  
    nav li:hover .submenu {
      display: block;
      position: static;
    }
  }
  